---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../css/styles.css';
import '../css/header.css';
---

<Layout>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        </head> 
    <body>
      <header class="header">
        <a href="#" class="header__logo">Instituto Mexicano del Transporte</a>
        <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>
        <nav class="nav" id="nav-menu">
          <div class="nav__content bd-grid">
            <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>
            <div class="nav__perfil">
              <div class="nav__img">
                <img src="/media/logo.jpg" alt="logoIMT">
              </div>
              <div>
                <a href="#" class="nav__name">Instituto Mexicano del Transporte</a>
              </div>
            </div> 
            <div class="nav__menu">
              <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="/scanQr" class="nav__link">Inventario</a></li>
                <li class="nav__item"><a href="/salas" class="nav__link">Salas</a></li>
                <li class="nav__item"><a href="/newQR" class="nav__link">Alta Producto</a></li>
                <li class="nav__item"><a href="/ExcelToJson" class="nav__link">ExcelToJson</a></li>
                <li class="nav__item"><a href="/DataTables" class="nav__link">Reportes</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </header>


      <!-- Coso de Escanear el QR -->
    <div id="qr" style="display: block;">
      <div>
      <h5 class="text-center">Escanear codigo QR del Equipo</h5>
      <div class="row text-center">
          <a id="btn-scan-qr" href="#">
          <img src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg" class="img-fluid text-center" width="175" alt="QR Code Icon">
          </a>
          <canvas hidden="" id="qr-canvas" class="img-fluid"></canvas>
          </div>
          <div class="row mx-5 my-3">
          <!-- Botón actualizado con la función -->
          <button id="camOn" onclick="encenderCamara()">Encender camara</button>
          <button id="camOff" onclick="cerrarCamara()">Detener camara</button>
      </div>
      </div>
          
  </div>

<div id="form-container" style="display: block;"></div>


<!-- Formulario de Codigo QR -->
<div id="formularioQR" style="display: none;">
  <h2>Registro de Inventario</h2>
  
  <form action="/submit-inventory" method="post" id="inventory-form">
      <label for="id">Id del Producto:</label>
      <input type="text" id="id" name="id" readonly /><br><br>

      <label for="nombre">Nombre del Producto:</label>
      <input type="text" id="nombre" name="nombre" readonly /><br><br>

      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" readonly /><br><br>

      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" name="modelo" readonly /><br><br>

      <label for="estado">Estado:</label>
      <input type="text" id="estado" name="estado" readonly /><br><br>

      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" readonly></textarea><br><br>

      <label for="precio">Precio:</label>
      <input type="text" id="precio" name="precio" readonly /><br><br>

      <label for="fecha">Fecha de Inventario:</label>
      <input type="text" id="fecha" name="fecha" readonly /><br><br>

      <label for="categoria">Categoría:</label>
      <input type="text" id="categoria" name="categoria" readonly /><br><br>

      <label for="ubicacion">Ubicación:</label>
      <input type="text" id="ubicacion" name="ubicacion" readonly /><br><br>

      <button type="submit">Enviar</button>
  </form>
</div>

<!-- Otros elementos del cuerpo -->
<button id="buttonHome" onclick="buttonHome()">Regresar</button>

<!-- Define la función btnCheck -->
<script>
  function btnCheck() {
    console.log("Botón de escanear QR presionado");
  }
</script>

<!-- Agrega el script aquí -->
<script>

const camOnButton = document.getElementById('camOn');
if (camOnButton) {
    camOnButton.addEventListener('click', () => {
        console.log('Botón de escanear QR presionado');
    });
}

const  HolaMundo= () => {
    console.log('HolaMundo');
}

// Define la función en el ámbito global
function btnCheck() {
    console.log("Botón de escanear QR presionado");
}

</script>


</body>


    
</Layout>

<!-- Load QR Code library first -->
<script is:inline src="https://cdn.jsdelivr.net/npm/qrcode-reader/qrcode-reader.min.js"></script>
<script src="../assets/plugins/qrCode.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode-reader@1.0.4/dist/index.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Import client scripts at the end -->

<script src="../js/header.js"></script>
<script src="../js/form.js"></script>
<script src="../js/index.js"></script>

